@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0);
}

.container {
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--main-color);
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--main-color);
}

btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

btn:hover {
    background-color: #555;
    border-radius: var(--border-radius-hover);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.4rem;
    }

    btn {
        padding: .8rem 1.4rem;
        font-size: 1.6rem;
    }
}
