@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0);
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading в меню */
.heading {
    font-size: 11rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .2rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff; /* Белый цвет текста в span */
    font-size: 5rem;
}


.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i {
    padding-left: .5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .btn {
    margin-top: 0;
    margin-left: 1rem;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.header .btn-container {
    display: flex;
    align-items: center;
}

/* COMMON BACKGROUND */
.common-background {
    background: url(../image/background.svg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* HOME */

.home {
    min-height: 100vh;
    padding-top: 12rem;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: #fff;
    text-transform: uppercase;
}

/* CSS для корзины */
.cart-popup {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    z-index: 1000;
}

.cart-popup.active {
    display: block;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-popup .btn {
    display: inline-block;
}

.item-details {
    flex: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.quantity-controls span {
    margin: 0 10px;
}

/* MENU */

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
    background: rgba(255, 255, 255, 0.8); /* Белый цвет с легкой прозрачностью */
}

.menu .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img {
    height: 8rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .box .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}


/* FOOTER */

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 30rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--main-color);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
}



/* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        margin: 2rem;
        padding: 1.5rem;
        font-size: 2rem;
        display: block;
        background: #fff;
        border: var(--border);
        border-radius: var(--border-radius);
    }

    .home .row .content h3 {
        font-size: 5rem;
    }

    .about .row .content .title {
        font-size: 2.5rem;
    }

    .footer .box-container {
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3.5rem;
    }

    .heading span {
        font-size: 1.5rem;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}